// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 20px;
}

.restaurant-container {
	padding: 10px;
	/*border-radius: 10px;*/
	/*border: 1px solid;
	border-color: black;*/
	margin: 10px;

	border: 1px solid #fc0;
	border-radius: 7px;
	background: #fffee5;
	background: linear-gradient(white, #fdf5d6);
}

	.restaurant-header {
		display: flex;
		justify-content: space-between;
		vertical-align: middle;
		margin-bottom: 10px;
	}

		.restaurant-info li {
			display: inline;
			
		}

		.restaurant-actions {
			margin-top: 5px;
		}

		.restaurant-actions li {
			display: inline;
			padding-right: 10px;
		}

	.restaurant-reviews {
		margin-top: 5px;
	}

		.review-container {
			padding: 5px;
			margin: 5px;
			border-radius: 5px;
			border: 1px solid;
			border-color: grey;
			background-color: white;
		}

			.review-info {
				margin-top: 3px;
				font-size: 13px;
			}

				.review-likes {
					float: right;
				}

